resources:
  repositories:
    - repository: MYRavenRepo
      type: git
      name: Azure Pipeline Demo
      ref: main

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

stages:

# ---------------- BUILD ----------------
- stage: Build
  displayName: 'Build Stage'
  jobs:
  - job: BuildJob
    steps:
    - checkout: MYRavenRepo

    - task: Maven@3
      displayName: 'Maven Build'
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean package'
        jdkVersionOption: '1.11'

    - publish: target
      artifact: drop


# ---------------- TEST ----------------
- stage: Test
  displayName: 'Test Stage'
  dependsOn: Build
  jobs:
  - job: TestJob
    steps:
    - checkout: MYRavenRepo

    - task: Maven@3
      displayName: 'Run Regression Tests'
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'test'

    - task: PublishTestResults@2
      inputs:
        testResultsFiles: '**/surefire-reports/TEST-*.xml'


# ---------------- DEPLOY TO STAGING ----------------
- stage: Deploy_Staging
  displayName: 'Deploy to Staging'
  dependsOn: Test
  jobs:
  - deployment: StagingDeploy
    displayName: 'Staging Deployment'
    environment: staging
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop

          - script: |
              echo "Deploying application to STAGING environment"
              ls $(Pipeline.Workspace)/drop
            displayName: 'Staging Deployment Script'


# ---------------- DEPLOY TO PRODUCTION ----------------
- stage: Deploy_Production
  displayName: 'Deploy to Production'
  dependsOn: Deploy_Staging
  jobs:
  - deployment: ProductionDeploy
    displayName: 'Production Deployment'
    environment: production
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop

          - script: |
              echo "Deploying application to PRODUCTION environment"
              ls $(Pipeline.Workspace)/drop
            displayName: 'Production Deployment Script'
