resources:
  repositories:
    - repository: MYRavenRepo
      type: git
      name: Azure Pipeline Demo
      ref: main

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Build
  displayName: 'Build Stage'
  jobs:
  - job: BuildJob
    displayName: 'Build Job'
    steps:
    - checkout: MYRavenRepo

    - task: Maven@3
      displayName: 'Maven Build'
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'clean compile'
        jdkVersionOption: '1.11'

- stage: Test
  displayName: 'Test Stage'
  dependsOn: Build
  jobs:
  - job: TestJob
    displayName: 'Test Job'
    steps:
    - checkout: MYRavenRepo

    - task: Maven@3
      displayName: 'Run Regression Tests'
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'test'

    - task: PublishTestResults@2
      displayName: 'Publish Test Results'
      inputs:
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
